.bundle
db/*.sqlite3
log/*.log
tmp/
.bundle
db/*.sqlite3
log/*.log
tmp/**/*

.DS_Store
*/**/.DS_Store
.rvmrc
tags

*\(Autosaved\).graffle
public/assets
assets
tmp/**/*
coverage
coverage.data
public/roodi_report.txt
rerun.txt
tmp
public/system
tmp/extracts
.project
m.sh
*.tmproj
capybara-*.html
doc/db2_queries/*.del
*~
.#*
*#*#
config/database.yml
.bundle
vendor/bundle
.idea
!vendor/cache/capybara-*
spec/spec.opts

