<h1>Listing coaches</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @coaches.each do |coach| %>
  <tr>
    <td><%= link_to 'Show', coach %></td>
    <td><%= link_to 'Edit', edit_coach_path(coach) %></td>
    <td><%= link_to 'Destroy', coach, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Coach', new_coach_path %>
